# Database Connection Settings
POSTGRES_USER=shelf_user
POSTGRES_PASSWORD=shelf_password
POSTGRES_DB=shelf_db
POSTGRES_HOST=localhost
POSTGRES_PORT=5432

# Ingestion Settings & Directories
DATA_DIR=./data
OPENLIBRARY_DUMP_URL=https://openlibrary.org/data/
GUTENBERG_CATALOG_URL=https://www.gutenberg.org/cache/epub/feeds/pg_catalog.csv

# Processing Limits (Set to -1 for unlimited in production)
LIMIT_ROWS=100000

# Airflow Configuration
AIRFLOW_PROJ_DIR=.
AIRFLOW_UID=50000
